<p>
  <%= @greeting %>,<br>
     Appointment Confirmed:<br>
     patient Name : <%= @patient_name%><br>
     Doctor Name : <%= @doctor_name%><br>
     SlotTime : <%= @slot_time%><br>

     Thanks,<br>
     Medicare
</p>
