<%= stylesheet_link_tag "all_doctors" %>
<table id="display-medicines-div">
  <thead>
    <tr>
      <th>Medicine</th>
      <th>Name</th>
      <th>Description</th>
      <th>Dosage</th>
      <th>Price</th>
      <th>Need Prescription</th>
      <th>Quantity</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody> 
      <% @medicines.each do |med| %>
           <%= render partial:"each_medicine" , locals:{medicine:med}%>
      <% end %>
    </tbody>
</table>

