<%= stylesheet_link_tag "all_doctors" %>
<table id="display-medicines-div">
  <thead>
    <tr>
      <th>Medicine</th>
      <th>Name</th>
      <th>Description</th>
      <th>Dosage</th>
      <th>Price</th>
      <th>Need Prescription</th>
      <th>Quantity</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody> 
      <% @medicines.each do |med| %>
           <%= render partial:"each_medicine" , locals:{medicine:med}%>
      <% end %>
    </tbody>
</table>

<!-- Bootstrap Modal -->
<div class="modal fade" id="editMedicineModal" tabindex="-1" role="dialog" aria-labelledby="editMedicineModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMedicineModalLabel">Edit Medicine</h5>
      </div>
      <div class="modal-body">
          <%= render partial:"admin/manage_medicines/edit_form"%>
      </div>
    </div>
  </div>
</div>


