<%= stylesheet_link_tag "admin_dashboard" %>
<h4 class="head">Admin Dashboard</h4>
<div class="card">
  <img class="card-img" src="https://static.vecteezy.com/system/resources/previews/001/890/904/non_2x/female-and-male-nurse-and-doctors-with-uniforms-and-masks-design-free-vector.jpg" alt="Card Image">
  <div class="card-body">
    <h5 class="card-title" >Doctors</h5>
    <p class="card-text">Manage Doctors<br>You can [ Add , Edit , Remove ] a Doctor</p>
  </div>
  <div class="card-footer">
      <%= button_to "View", doctors_path,method: :get ,class: "btn btnn btn-outline-success" ,id:"doctor-view-btn" %>
  </div>
</div>


<div class="card">
  <img class="card-img" src="https://english-blog.s3.amazonaws.com/uploads/2020/02/Order-medicines-for-treating-chronic-diseases-online-with-GoMedii.jpg" alt="Card Image">
  <div class="card-body">
    <h5 class="card-title">Medicines</h5>
       <p class="card-text">Manage Medicines<br>You can [ Add , Edit , Remove ] a Medicine</p>
  </div>
  <div class="card-footer">
    <%= button_to "View", medicines_path,method: :get ,class: "btn btnn btn-outline-success",id:"medicine-view-btn" %>
  </div>
</div>


<div class="card">
  <img class="card-img" src="https://staranddaisy.in/wp-content/uploads/2022/06/order_track_5227-1.jpg" alt="Card Image">
  <div class="card-body">
    <h5 class="card-title">View Orders</h5>
    <p class="card-text">As a Admin You can See<br>Customers Orders - [Medicine]</p>
  </div>
  <div class="card-footer">
    <%= button_to "View", orders_path,method: :get ,class: "btn btnn btn-outline-success",id:"order-view-btn" %>
  </div>
</div>