<li class="nav-link d-flex align-items-center">
  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-light btn btn-outline-danger fw-bold"%>
</li>

<li class="nav-item text-center">
  <%= image_tag current_user.avatar.attached? ? current_user.avatar : 'avatars/default_avatar.png', class: 'avatar-image' %>
</li>
