     <li class="nav-item">
      <%= link_to "Manage Doctors", new_manage_doctor_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Manage Medicines", medicines_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Track Orders", root_path, class: "nav-link text-light" %>
    </li>
  