     <li class="nav-item">
      <%= link_to "Manage Doctors", doctors_path,method: :get ,class: "nav-link text-light" %>
     </li>
     
     <li class="nav-item">
      <%= link_to "Manage Medicines", medicines_path, class: "nav-link text-light" %>
     </li>

    <li class="nav-item">
      <%= link_to "Track Orders", root_path, class: "nav-link text-light" %>
    </li>
  