<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5" style="background-color: #F4F4F4; border-radius: 15px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
          <div class="card-body">
            <h5 class="card-title text-center" style="color:#392AB1; font-family: 'Arial', sans-serif; font-weight: bold; font-size: 24px;">About Us</h5>
             <img src="https://wallpapercave.com/wp/wp2655120.jpg" style="width: 100%; max-height: 300px; object-fit: cover; border-radius: 10px;">
             <p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #0B60B0;margin-top: 20px;">
                "Our website provide the facility to the user to book the appointments with the doctors.
                User can also view the details of the doctors and also can book the appointment with the doctors.
                User can also buy the medicines from the pharmacy."
             </p>
          </div>
        </div>
      </div>
    </div>
  </div>
