<%if current_user%>
   <%if current_user.patient? %>
     <%= "Patient Home Page"%>
   <%end%>
   <%if current_user.doctor? %>
     <%= "Doctor Home Page"%>
   <%end%>
   <%if current_user.admin?   %>
     <%= "Admin Home Page"%>
   <%end%>
<%else%>
  <h4>DO SIGN IN</h4>
<%end%>

