<% if current_user %>

       <% if current_user.admin? %>
         <p>User Total count <%= User.count %></p>
       <% end %>
        <% if current_user.doctor? %>
          
       <% end %>
      
     <% else %>
       <p>You are not signed in</p>
       
     <% end %>