<%= stylesheet_link_tag "all_doctors" %>

<%= javascript_include_tag "quantity_selector" %>
<div class="doctor-cards-container">
    <% @medicines.each do |medicine| %>
     <%= render partial:"patients/each_medicine" , locals:{medicine:medicine}%>
    <% end %>
</div>

