<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <%= link_to "Find doctor",patients_path,method: :get,class: "list-group-item list-group-item-action py-2 ripple"%>
        <%= link_to "Appointments",show_appointment_patient_path(current_user.patient.id),method: :get,class: "list-group-item list-group-item-action py-2 ripple"%>
         <%= link_to "Buy Medicine",root_path,method: :get,class: "list-group-item list-group-item-action py-2 ripple"%>
           <%= link_to "Orders",root_path,method: :get,class: "list-group-item list-group-item-action py-2 ripple"%>
    
      </div>
    </div>
  </nav>
  <style>


/* Sidebar */
.sidebar {
  position: fixed;
  background-color:black;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
    </style>