<% @all_doctors.each do |doctor| %>
  <div class="doctor-entry">
    <p><%= User.find_by(id: doctor.user_id).name %></p>
    <p><%= doctor.specialization.name %></p>
    <p>Rating: <%= doctor.rating %></p>
    <%= button_to "Book", show_doctor_info_patient_path(current_user.patient.id),params: {doctor_id: doctor.id}, method: :get,class: "btn btn-primary" %>
  </div>
<% end %>


