<h1>Your Appointments</h1>

 <ul class="slot-list">
    <% @all_appointments.each do |el| %>
      <li>
      <%= button_to "#{el}", root_path, class: "btn btn-primary"%>
      <%= button_to "cancel", root_path, class: "btn btn-danger"%>
      </li>
    <% end %>
  </ul>