<%= stylesheet_link_tag "all_doctors" %>
<table id="display-doctors-div">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Email</th>
      <th>Specialization</th>
      <th>Rating</th>
      <th>Consultation Fee</th>
      <th>Experience (Years)</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @doctors.each do |doc| %>
          <%= render partial:"each_doctor" , locals:{doc:doc}%>
      <%end%> 
 </tbody>
</table>
