<%= stylesheet_link_tag "all_doctors" %>
<%= javascript_include_tag "doctor_handler" %>
<table id="display-doctors-div">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Email</th>
      <th>Specialization</th>
      <th>Rating</th>
      <th>Consultation Fee</th>
      <th>Experience (Years)</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @doctors.each do |doc| %>
          <%= render partial:"each_doctor" , locals:{doc:doc}%>
      <%end%> 
 </tbody>
</table>

<!-- Bootstrap Modal -->
<div class="modal fade" id="editDoctorModal" tabindex="-1" role="dialog" aria-labelledby="editMedicineModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMedicineModalLabel">Edit Doctor</h5>
      </div>
      <div class="modal-body">
          <%= render partial:"admin/manage_doctors/edit_form"%>
      </div>
    </div>
  </div>
</div>

