<%= stylesheet_link_tag "all_doctors" %>
<table id="display-doctors-div">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Email</th>
      <th>Specialization</th>
      <th>Rating</th>
      <th>Consultation Fee</th>
      <th>Experience (Years)</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @doctors.each do |doc| %>
          <%= render partial:"each_doctor" , locals:{doc:doc}%>
      <%end%> 
 </tbody>
</table>

<!-- Bootstrap Modal -->
<div class="modal fade" id="editDoctorModal" tabindex="-1" role="dialog" aria-labelledby="editMedicineModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMedicineModalLabel">Edit Doctor</h5>
      </div>
      <div class="modal-body">
          <%= render partial:"admin/manage_doctors/edit_form"%>
      </div>
    </div>
  </div>
</div>




<script>
  $(document).ready(function() {
 $("#display-doctors-div").on("click", ".edit-button", function(event) {
      event.preventDefault();
      var editButton = $(this);
      var doctorId = $(this).data('doctor-id');
      var doctorName = $(this).data('doctor-name');
      var doctorPhone = $(this).data('doctor-phone');
      var doctorEmail = $(this).data('doctor-email');
   
      var doctorConsultationFee = $(this).data('doctor-consultation-fee');
      var doctorYearsOfExperience = $(this).data('doctor-experience');

      $('#doctor_name').val(doctorName);
      $('#doctor_email').val(doctorEmail);
      $('#doctor_phone_number').val(doctorPhone);
   
      $('#doctor_consultation_fee').val(doctorConsultationFee);
      $('#doctor_years_of_experience').val(doctorYearsOfExperience);
      $('#editDoctorModal').modal('show');
       
       $("#edit_form").on("submit", function (e) {
        e.preventDefault();
        var formData = new FormData($("#edit_form")[0]);  
        console.log(formData);
          
        $.ajax({
            url: `http://localhost:3000/doctors/${doctorId}`,
            method: "PATCH",
            data: formData, 
            dataType: "html",
            processData: false, 
            contentType: false,
            success: function (result) {
              console.log(result);
               editButton.closest("tr").html(result);
                $("#editDoctorModal").modal("hide");
               
            },
        });
        });     

      
    });
  });
</script>

