<%= stylesheet_link_tag "admin_dashboard" %>
  <h4 class="head">Doctor Dashboard</h4>
<div class="card">
  <img class="card-img" src="https://t3.ftcdn.net/jpg/02/60/79/68/360_F_260796882_QyjDubhDDk0RZXV9z7XBEw9AKnWCizXy.jpg" alt="Card Image">
  <div class="card-body">
    <h5 class="card-title" >Appointments</h5>
    <p class="card-text">See All Your Appointments<br>You should [ prescribe Medicines ] </p>
  </div>
  <div class="card-footer">
      <%= button_to "View", appointments_path,method: :get,class: "btn btnn btn-outline-success" %>
  </div>
</div>
