     <li class="nav-item">
      <%= link_to "Manage Appointments",appointments_path,method: :get, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Manage Slots", root_path, class: "nav-link text-light" %>
    </li>
  