<h1>Complete Detail</h1>
<!-- 

  If Status is scheduled { 

 Doctor can give Prescription ,
 He should complete the Appointment .
 }

 If Status is Completed {
  
  He can just view all the deatils about the appointment - his prescription and patient Feedback.

 }












-->