/* Base styles for navbar (consider using a CSS framework like Bootstrap for more) */
.navbar {
    background-color: #392AB1;
    color: white;
    height: 100px;
  
  }
  
  .navbar-brand {
    font-family: 'Neue Haas Grotesk Text Pro', Arial, sans-serif; /* Use preferred font */
  }
  
  .navbar-toggler-icon {
    /* Customize toggler icon color as needed */
  }
  
  .nav-link {
    font-size: 1.1rem; /* Increase font size slightly */
  }
  
  .offcanvas-title {
    font-size: 1.5rem; /* Increase title font size */
    color: #fff; /* Set title color to white */
  }
  
  .avatar-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Additional styles for hover effects (optional) */
  .nav-link:hover {
    
    text-decoration: none; /* Remove underline on hover */
  }
  
  /* Consider using media queries for responsive design */
  @media (max-width: 768px) {
    .navbar {
      padding: 0
    }
  }