<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPrescriptionModal">
  Edit Prescription
</button>

<!-- Modal for editing prescription -->
<div class="modal fade" id="editPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="editPrescriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPrescriptionModalLabel">Edit Prescription</h5>
      </div>
      <div class="modal-body">
      <%= render partial:"edit_prescription", appointment: @appointment%>
      </div>
         <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>